.left-box0{
  margin: 21px auto 0px;
  width: 390px;
  height: 35px;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 22px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 800;
  color: #FFFFFF;
  line-height: 35px;
  text-align: left;
  position: relative;
  box-sizing: border-box;
}
.left-box0 b{
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.left-box1{
  height: 290px;
  padding-top: 37px;
  box-sizing: border-box;
}
.left-box1 li{
  width: 33.3%;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.left-box1 li i {
  background: #00bf8f;
}
.left-box1 li. i{
  background:#023AFF;
}
.anzhi{
  background:#023AFF !important;
}
.gongzu{
  background:#0AB03A !important;
}
.xianjia{
  background:#FF6A2A !important;
}
.rencai{
  background:#FD5353 !important;
}
.lianzu{
  background:#FF2AB7 !important;
}
.qita{
  background:#991BFA !important;
}
.box1-tips{
  display: none;
  position: absolute;
  left: 109px;
  min-width: 162px;
  top: 54px;
  z-index: 1050;
  box-sizing: border-box;
  padding: 17px 20px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}
.left-box1 li:hover .box1-tips{
  display: block;
}
.box1-tips h3{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.box1-tips h5{
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
}
.left-box1 li i {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.left-box1 li b {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  color: #FFFFFF;
  line-height: 38px;
}
.left-box1 li p{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #9E9E9E;
  /* line-height: 43px; */
  -webkit-background-clip: text;
  /* margin-bottom: 26px; */
  margin-top: 2px;
}
.left-box1-inner{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-top: 15px;
}

.left-box2{
  margin-top:27px;
  height: 350px;
  box-sizing: border-box;
}
.left-box2 li small{
  margin-left: -7px;
  font-size: 12px;
}
.staff-progress-bar{
  position: relative;
}
.staff-progress-bg{
  width: 100%;
  border-radius: 90px;
  height: 10px;
  background: #202046;
}
.staff-progress{
  z-index: 1;
  top:0;
  border-radius: 90px;
  position: absolute;
  left:0;
  right:0;
  height: 10px;
  background: linear-gradient(270deg,#00fdff, rgba(0,253,255,0.05));
}
.staff-progress.orange{
  background: linear-gradient(270deg,#ff9500, rgba(255,149,0,0.05));
}
.left-box2-title-right b.txt1{
  font-size: 16px;
  margin-right: 8px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #9E9E9E;
  line-height: 43px;
}
.left-box2-inner{
  margin-top: 38px;
}
.left-box2-inner li{
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.left-box2-title-right small{
  font-size: 12px;
  margin-left: 5px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #fff;
}
.box2-tips{
  display: none;
  position: absolute;
  right: 0;
  min-width: 162px;
  top: 54px;
  z-index: 1050;
  box-sizing: border-box;
  padding: 17px 20px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}
.left-box2 li:hover .box2-tips{
  display: block;
}
.box2-tips h3{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.box2-tips h5{
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
}
.left-box2-inner h1{
  font-size: 0;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}
.left-box2-inner h1 span{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #9E9E9E;
  line-height: 30px;
  margin-right: 10px;
}
.left-box2-inner h1 strong,.left-box2-inner h1 b{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  line-height: 30px;
  margin-right: 10px;
  color:#fff;
}
.left-box3{
  box-sizing: border-box;
  margin-top: 49px;
}
.left-box3-inner {
  margin-left:-8px;
  margin-right:-8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.left-box3-inner li{
  width: 119px;
  text-align: center;
  margin-bottom: 17px;
  height: 77px;;
  margin-left:8px;
  margin-right:8px;
  background: #14142B;
  border-radius: 6px 6px 6px 6px;
  justify-content: center;
  align-items: center;
}

.left-box3-inner small{
  font-size: 12px;
  margin-left: 5px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #fff;
}
.left-box3-inner li.double{
  width: 46%;
  margin-bottom: 0;
}
.left-box3-inner h1 i{
  font-style: normal;
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  line-height: 30px;
  margin-right:5px;
  color:#fff;
}
.left-box3-inner h1 strong,.left-box3-inner h1 b{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  line-height: 30px;
  margin-right:1px;
  color:#fff;
}
.left-box3-inner h1{
  line-height: 38px;
}
.left-box3-inner p{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color:#fff;
}
.left-box4{
  height: 524px;
  margin-top: 35px;
  margin-bottom: 45px;
}
.left-box4 table{
  border-radius: 6px;
}
.left-box4 tr{
}
.left-box4 tr.blue{
  background: #0033E8;
}
.left-box4 th.radius1{
  border-radius: 6px 0 0 6px;
}
.left-box4 .radius1-last{
  border-radius: 0 6px 6px 0;
}
.left-box4 th{
  height: 55px;
  color:#fff;
  background: #0033E8;
  font-size: 14px;
  padding: 0px 5px;
  line-height: 16px;
  font-weight: 400;
}
.left-box4 td{
  height: 61px;
  color:#fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  background: #14142B;
}
.left-box4 th.left-box4-cell{
  height: 11px;
  height: 11px;
  background: #05050F;
}
.left-box4 td.gray-left{
  height: 55px;
  color:#9E9E9E;
  text-align: center;
  padding: 0px 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 6px 0 0 6px;
}
.left-box3-inner li.double.special{
  height: 100px;
  display: flex;
  flex-direction: column;
}
.left-box3-inner li.double.special h1{
  margin-bottom: 10px;
  margin-top: -13px;
}
.weight{
  font-weight: bold !important;
}