.middle-title{
  position: relative;
}
.middle-title-text{
  position: absolute;
  left: 0;
  right: 0;
  top:10px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 43px;
  -webkit-background-clip: text;
}
.middle-circle {
  width: 760px;
  height: 760px;
  overflow: hidden;
  animation: roate 120s infinite linear;
}
.middle-circle-wrapper{
  margin: 110px auto 0;
  width: 760px;
  height: 760px;
  transform: translate3d(0px, 0px, 0px) scaleX(1) scaleY(1) rotateX(-105deg) rotateY(0deg) rotateZ(-180deg) skewX(0deg) skewY(0deg);
}
#middleCircleChartBox{
  width: 500px;
  height: 500px;
}
@keyframes roate {
  0% {
    transform: rotateZ(0)
  }
  100% {
    transform: rotateZ(-360deg)
  }
}
.middle-box1 {
  width: 800px;
  margin: 19px auto 0;
  display: flex;
  justify-content: space-between;
}
.middle-box1 dl{
  width: 291px;
  box-sizing: border-box;
}
.middle-box1 dt{
  font-size: 0;
}
.middle-box1 span.title{
  font-size: 16px;
  margin-right: 27px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #9E9E9E;
  line-height: 43px;
}
.middle-box1 strong{
  font-size: 24px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 500;
  color: #fff;
}
.middle-box1 b{
  margin-left: 3px;
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 500;
  color: #fff;
}
.middle-inner1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}
.middle-inner1 p{
  letter-spacing: -1px;
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #9E9E9E;
}
.middle-inner1 span{
  letter-spacing: 1px;
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #fff;
}
.middle-inner1 small{
  letter-spacing: -1px;
  font-size: 12px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #fff;
}
.middle-map{
  margin: 0 auto -375px;
  width: 762px;
  height: 450px;
  background: url("../img/map.png") no-repeat 50% 50%;
  position: relative;
  left: -18px;
  z-index: 2;
}
.middle-map.beilun{
  margin: 0 auto -375px;
  width: 768px;
  height: 493px;
  background: url("../img/map_beilun.png") no-repeat 50% 50%;
}
.middle-light{
  margin: 0 auto -531px;
  width: 830px;
  height: 458px;
  background: url("../img/map_light.png") no-repeat 50% 50%;
  position: relative;
  left: -18px;
  z-index: 1;
  perspective: 177px;
}
.middle-light-inner{
  position: relative;
  bottom: -202px;
  width: 480px;
  height: 283px;
  margin: 0 auto;
  /* border:2px solid; */
  background: transparent;
  color:white;
  transform: rotateX(-30deg);
  overflow: hidden;
}
.screen-sub-title4,.screen-sub-title5{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
  margin-bottom: 14px;
}
.screen-sub-title5{
  margin-bottom: 9px;
}
.middle-box3-part1{
  padding:18px 25px;
  width: 164px;
  height: 172px;
  background: #14142B;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 26px;
}
.middle-box3-part2{
  padding:18px 28px;
  height: 172px;
  background: #14142B;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 26px;
  flex: auto;
}
.middle-box3-part2 .age-progress-bar{
  width: 100%;
  background: #14142B;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 49px;
}
.age-progress-bar{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.age-progress-bg{
  width: 100%;
  border-radius: 90px;
  height: 10px;
  position: absolute;
  left:0;
  right:0;
  z-index: -1;
  background: #202046;
}
.age-progress{
  height:10px;
  position: relative;
}
.age-progress.first{
  border-bottom-left-radius:90px;
  border-top-left-radius:90px;
}
.age-progress:last-child{
  border-bottom-right-radius:90px;
  border-top-right-radius:90px;
}
.age-font{
  position: absolute;
  top: -25px;
  font-size: 14px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #FFFFFF;
}
.top-progress{
  z-index: 1;
  top:0;
  border-radius: 90px;
  position: absolute;
  left:0;
  right:0;
  height: 8px;
  background: #202046;
}
#rightPart1{
  height: 242px;
}
.middle-box3-part3{
  padding:18px 28px;
  /* width: 283px; */
  height: 172px;
  background: #14142B;
  border-radius: 6px;
  box-sizing: border-box;
  margin-right: 0px;
}
.top-progress-bar{
  position: relative;
}
.top-progress-bg{
  width: 100%;
  border-radius: 90px;
  height: 8px;
  background: #202046;
}
.top-progress-bg.bg-white{
  background: #fff;
}
.top-progress{
  z-index: 1;
  top:0;
  border-radius: 90px;
  position: absolute;
  left:0;
  right:0;
  height: 8px;
  background: #202046;
}
.top-progress.bg-orange{
  background: #F8961E
}
.top-progress.bg-blue{
  background: #023AFF
}
.middle-box3-part1 h5{
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.middle-box3-part1 h5 i{
  width: 8px;
  height: 8px;
  background: #023AFF;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.middle-box3-part1 ul b{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 16px;
  margin-right: 10px;
  display: inline-block;
}
.middle-box3-part1 ul h1{
  width: 74px;
  height: 10px;
  color: #FFFFFF;
  vertical-align: middle;
  display: inline-block;
  background: #023AFF;
  border-radius: 10px;
}
.middle-box3-part1 ul{
  margin-bottom: 20px;
}
.middle-box3-part1 ul li{
  margin-bottom: 18px;
  font-size: 0;
  white-space: nowrap;
}
.middle-box3-part1 h5 b{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 16px;
}
.pink{
  background: #FD5353 !important;
}
.middle-box3-part3 {
  font-size: 14px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #FFFFFF;
  line-height: 16px;
}
.age-cyan1{
  background: #3BFF2A !important;
}
.age-blue1{
  background: #023AFF !important;
}
.age-orange1{
  background: #FF6A2A !important;
}
.age-purple1{
  background: #AE2AFF !important;
}
.age-green1{
  background: #008C28 !important;
}
#middleCircleChartBox{
  width: 760px;
  height: 760px;
  background: url("../img/circle_rotate.png") no-repeat 50% 50% / contain;
}
.middle-box2{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 10;
  overflow: hidden;
}
.middle-box2-inner{
  position: relative;
  bottom: -30px;
  z-index: 10;
}
.middle-box3{
  position: absolute;
  left: -100px;
  right: -100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-box3 .middle-box3-inner{
  max-width: 1030px;
  margin: 0 auto;
  min-width: 762px;
  display: flex;
}
.middle-box3-part2 h5{
  font-size: 0;
  margin-top: 28px;
  margin-bottom: 10px;
}
.middle-box3-part2 h5 i{
  width: 8px;
  height: 8px;
  background: #023AFF;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.middle-box3-part2 h5 b{
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  vertical-align: middle;
  line-height: 16px;
  margin-right: 10px;
  display: inline-block;
}
.middle-box3-part3-inner{
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
.middle-box3-part3-inner dl{
  margin-right: 14px;
  width: 67px;
  text-align: center;
  font-size: 18px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 500;
  color: #fff;
}
.middle-box3-part3-inner dl dt{
  font-size: 14px;
  line-height: 18px;
}
.middle-box3-part3-inner dl dd{
  font-size: 14px;
}
.middle-box3-part3-inner dl:last-child{
  margin-right: 0;
}
.middle-box3-part3-inner dl dd.part3-info{
  margin: 8px 0 7px;
  border-radius: 6px;
  width: 67px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 500;
  color: #fff;
}
#middleMap li{
  position: absolute;
  letter-spacing: 1px;
}
#middleMap li span{
  font-size: 14px;
  /*font-family: Alibaba PuHuiTi-Regular, Alibaba PuHuiTi;*/
  font-weight: 400;
  color: #FFFFFF;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  z-index: 33;
}
.map-tips{
  display: none;
  position: relative;
  left: 10px;
  top: 5px;
  z-index: 1050;
  width: 162px;
  height: 121px;
  box-sizing: border-box;
  padding: 17px 20px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}
.map-tips.map-tips1{
  width: auto;
  height: auto;
}
#middleMap li:hover .map-tips{
  display: block;
}
.map-tips h3{
  font-size: 16px;
  /*font-family: Alibaba PuHuiTi-Medium, Alibaba PuHuiTi;*/
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}
.map-tips p{
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
}
.middle-title {
  margin-left:-390px;margin-right:-390px;
}
@media screen and (min-width: 1919px){
  .middle-title {
    margin:0 auto;
  }
}
.middle-title img{
  max-width: 1920px;
  display: block;
  margin: 0 auto;
}
